#legalServices {
  background-image: url("../../../../../assets/images/legalServicesBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  color: var(--colorPrimary);

  & li {
    text-align: center;
    width: 30%;

    background-color: var(--colorSecondary);
    border-radius: var(--borderRounded);

    & img {
      width: 100%;

      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0)
      );

      border: .15rem solid var(--colorPrimary);
      border-radius: var(--borderRounded) var(--borderRounded) 0 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  #legalServices > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #legalServices > div li {
    width: 100%;
  }
}
