<section id="legalServices" class="p-5">
  <div class="d-flex gap-md-5">
    <div>
      <h2 class="sectionTitle">Excelência em assistência jurídica familiar</h2>
      <hr class="titleHr" />
      <p class="mt-5">
        Temos uma equipe altamente capacitada,
        <span class="fw-bold">liderada pelo Dr. Obd-Edon de Almeida Santos</span
        >, pós-graduando em Processo Civil e Direito de Família.
      </p>
      <p class="mb-5">Conheça nossos principais serviços jurídicos:</p>

      <ul
        class="list-unstyled d-flex justify-content-between flex-wrap gap-4 fw-bold text-white"
      >
        <li>
          <img src="../../../../../assets/images/divorcio.png" alt="Divórcio" />
          <p>Divórcio</p>
        </li>
        <li>
          <img
            src="../../../../../assets/images/pensao.png"
            alt="Pensão Alimentícia"
          />
          <p>Pensão Alimentícia</p>
        </li>
        <li>
          <img
            src="../../../../../assets/images/guardaFilhos.png"
            alt="Guarda de Filhos"
          />
          <p>Guarda de Filhos</p>
        </li>
        <li>
          <img
            src="../../../../../assets/images/uniaoEstavel.png"
            alt="Dissolução de União Estável"
          />
          <p>Dissolução de União Estável</p>
        </li>
        <li>
          <img
            src="../../../../../assets/images/paternidade.png"
            alt="Investigação de paternidade"
          />
          <p>Investigação de paternidade</p>
        </li>
        <li>
          <img
            src="../../../../../assets/images/partilha.png"
            alt="Partilha de bens"
          />
          <p>Partilha de bens</p>
        </li>
      </ul>
    </div>
  </div>
  <app-cta-button class="m-4" buttonText="Preciso de suporte jurídico especializado para o meu caso" />
</section>
