<section
  id="faq"
  class="p-5 d-flex flex-column flex-md-row justify-content-between align-items-start gap-4 gap-md-5"
>
  <div>
    <h2 class="sectionTitle">Perguntas frequentes</h2>
    <hr class="titleHr" />

    <div class="mt-5 mb-4">
      <details>
        <summary>
          Por que contratar um advogado especialista em Direito de Família?
        </summary>
        <p>
          Em uma analogia com a área da medicina, um médico cardiologista
          (especialista) é mais indicado para resolver questões relacionadas ao
          coração que um clínico geral (generalista).
        </p>
        <p>
          Dessa forma, o advogado especialista em Direito de Família possui
          vasta experiência prática no assunto, e não apenas conhecimento
          teórico/acadêmico.
        </p>
        <p>
          Um especialista com certeza já atuou em casos de
          divórcios, guarda de filhos, pensão alimentícia, inventário, entre
          outros.
        </p>
        <p>
          Além de estar familiarizado com todo o passo-a-passo do processo para
          cada situação, ele também está constantemente atualizado sobre como os
          Tribuinais decidem a matéria (jurisprudência).
        </p>
        <p>
          Nessa perspectiva, Immanuel Kant já afirmava: "A experiência sem
          teoria é cega, mas a teoria sem experiência é mero jogo intelectual".
        </p>
      </details>
      <details>
        <summary>
          Um advogado especialista em Direito de Família é mais caro que um
          generalista?
        </summary>
        <p>
          Não necessariamente. O custo de um advogado varia de acordo com a
          complexidade da demanda, o tempo e os recursos necessários para o
          caso, além dos honorários definidos pelo profissional.
        </p>
        <p>
          Assim, tanto especialistas quanto generalistas podem ter valores
          diferentes, dependendo das particularidades da situação apresentada.
        </p>
        <p>
          Além disso, o valor não deve ser visto apenas sob a ótica financeira,
          mas sim considerando o que pode ser alcançado com o processo.
        </p>
        <p>
          Contratar um especialista aumenta as chances de obter uma solução
          favorável e bem fundamentada, garantindo a proteção de direitos e
          evitando prejuízos futuros, como acordos desfavoráveis ou litígios
          prolongados.
        </p>
        <p>
          Dessa forma, o custo representa um investimento na qualidade e na
          segurança do resultado.
        </p>
      </details>
      <details>
        <summary>
          Preciso enviar algum documento físico para assinatura de contrato e
          procuração?
        </summary>
        <p>
          Não se preocupe. Você poderá enviar tudo que precisa de forma digital.
        </p>
        <p>
          A assinatura da procuração e do contrato de honorários advocatícios é
          feita de forma eletrônica através de ferramentas seguras e confiáveis.
        </p>
        <p>
          Utilizamos certificados digitais, que garantem a autenticidade e
          integridade dos documentos assinados eletronicamente.
        </p>
      </details>
      <details>
        <summary>Como acompanharei meu processo?</summary>
        <p>
          Nós sabemos o quanto o seu processo é importante para você, por isso,
          manteremos você informado sobre cada etapa.
        </p>
        <p>
          Também estamos sempre disponíveis para esclarecer eventuais dúvidas e
          orientar seus próximos passos.
        </p>
      </details>
    </div>

    <app-cta-button class="m-4" buttonText="Quero tirar outras dúvidas" />
  </div>
  <img
    rel="preload"
    src="../../../../../assets/images/judgeGavel.webp"
    alt="Martelo e livros"
  />
</section>
