<section id="cta" class="p-5 pb-0 d-flex text-white">
  <img
    rel="preload"
    src="../../../../../assets/images/obdEdon1.png"
    alt="Dr. Obd-Edon de Almeida Santos"
  />

  <div>
    <h2 class="sectionTitle">Quem conhece recomenda</h2>
    <hr class="titleHr" />

    <p class="my-5">
      Escolha a tranquilidade de poder contar com um
      <span class="textHighlight">escritório 5 estrelas</span> nas avaliações do
      Google, com
      <span class="textHighlight">mais de 2500 clientes satisfeitos</span>.
    </p>

    <!-- tagbox Google Reviews -->
    <iframe
      src="https://widget.taggbox.com/2143113"
      style="width: 100%; height: 40vh; border: none"
    ></iframe>

    <app-cta-button
      class="m-4"
      buttonText="Quero ser o próximo cliente satisfeito"
    />
  </div>
</section>
