<div
  id="banner"
  class="text-white d-flex justify-content-between align-items-end px-5"
>
  <div class="mb-5 d-flex flex-column justify-content-center">
    <p class="sectionTitle">
      Buscando soluções para
      <span class="textHighlight">conflitos familiares</span>?
    </p>
    <hr class="titleHr" />
    <div class="mt-5">
      <p class="sectionTitle">
        <span class="textHighlight"
          >Podemos ajudar você nesse momento tão delicado.</span
        >
      </p>
      <p>
        Sabemos que questões familiares podem ser desafiadoras e emocionalmente
        desgastantes.
        <span class="textHighlight"
          >Não permita que esses conflitos comprometam os direitos de quem você
          ama!</span
        >
      </p>
      <p>
        Em nosso escritório
        <span class="textHighlight">especializado em Direito de Família</span>,
        sua causa estará em boas mãos. Conte com profissionais experientes para
        encontrar a melhor solução em casos de
        <span class="textHighlight"
          >divórcio, guarda de filhos, pensão alimentícia e partilha de
          bens.</span
        >
      </p>
      <p>
        Sua dor de cabeça acaba aqui. Confie em quem entende do assunto e
        <span class="textHighlight"
          >dê o primeiro passo para restaurar a harmonia!</span
        >
      </p>
    </div>
    <app-cta-button
      class="m-4"
      buttonText="Falar com um advogado especialista"
    />
  </div>

  <img
    rel="preload"
    src="../../../../../assets/images/obdEdon3.png"
    alt="Dr. Obd-Edon de Almeida Santos"
  />
</div>
